.jumbotron {
	margin-bottom: 0;
}

.hidden {
	display: none;
}

.margin-left-5 {
	margin-left: 5px;
}

.margin-left-10 {
	margin-left: 10px;
}

#title-text {
	padding-right: 20px;
	border-right: 1px solid white;
}
