extends ../layout

block breadcrumb
    div(class="col-md-10 offset-md-1 col-lg-8 offset-lg-2")
        ol(class="breadcrumb")
            li(class="breadcrumb-item")
                a(href="/") Home
            li(class="breadcrumb-item active") Sign in

block content
    div(class="card offset-md-3 col-md-6 offset-lg-4 col-lg-4")

        div(class="card-block")
            if 0 < error.length
                div(class="alert alert-danger", role="alert")= error

            if 0 < success.length
                div(class="alert alert-success", role="alert")= success

            form(action="/login", method="POST")
                div(class="form-group")
                    input(type="text", class="form-control form-control-lg", name="username", id="username" placeholder="Username" required)
                div(class="form-group")
                    input(type="password", class="form-control form-control-lg", name="password", id="password" placeholder="Password" required)
                button(type="submit" class="btn btn-danger btn-lg btn-block") Sign in
                a(href="/register", class="btn btn-primary btn-lg btn-block") Create account
