nav(class="navbar navbar-inverse navbar-toggleable-md navbar-light bg-faded bg-danger")
    button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
    div(class="container")

        a(class="navbar-brand" href="/")
            i(class="fa fa-th-large")= ' '
            strong(id="title-text" class="margin-left-10") Fcc Voting App

        div(class="collapse navbar-collapse" id="navbarSupportedContent")
            ul(class="navbar-nav mr-auto")
                li(class="nav-item active")
                    a(class="nav-link" href="/") Home #[span(class="sr-only") (current)]
            ul(class="navbar-nav mr-right")
                li(class="nav-item")
                    a(class="nav-link" href="/login") Sign in
                li(class="nav-item")
                    a(class="nav-link" href="/register") Sign up
