extends ../layout

block breadcrumb
    div(class="col-md-10 offset-md-1 col-lg-8 offset-lg-2")
        ol(class="breadcrumb")
            li(class="breadcrumb-item")
                a(href="/") Home
            li(class="breadcrumb-item active")= poll.name()

block content
    div(class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 card")

        div(class="card-block")
            h2
                i(class="fa fa-archive")
                span(class="margin-left-10") #{poll.name()}
            hr

            if user
                ul(class="nav nav-tabs" role="tablist")
                    li(class="nav-item")
                        a(class="nav-link active lead" href="#primary-tab" role="tab" data-toggle="tab") Poll
                    li(class="nav-item")
                        a(class="nav-link lead" href="#aggregate-tab" role="tab" data-toggle="tab") Data

            div(class="tab-content")
                div( role="tabpanel" class="tab-pane fade" id="primary-tab")
                    include ./detail-primary

                if user
                    div(role="tabpanel" class="tab-pane fade" id="aggregate-tab")
                        include ./detail-aggregate

                include ./detail-buttons
                
block append scripts
    script(type="text/javascript" src="/chartjs/Chart.bundle.min.js")
    script(type="text/javascript" src="/js/poll/vote-option.client.js")
    if user
        script(type="text/javascript" src="/js/poll/create-poll-option.client.js")
        if user.id() === poll.userId()
            script(type="text/javascript" src="/js/poll/delete-poll.client.js")
