
include ./chart

div(id="poll-options")
    div(id="poll-options-list")
        each option, key in poll.options()
            label(class="input-group clickable")
                span(class="input-group-addon")
                    input(class="vote-option" type="radio" name="vote-option" data-poll-id=poll.id() value=key data-value=option.name())

                p(class="lead form-control form-control-lg")= option.name()

